@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#fcf7f6 !important;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  }
  .name {
    margin-left: calc(50% - 110px);
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .logo {
    margin-left: 40%;
    height: 100px;
  }
  .navbar{
      background:#461809;
      /*margin: 10px 0px;
      padding: 10px;*/
      height: 55px;
      width: 100%;
      align-items: justify;
      clear: left;
      position: fixed;
      margin-bottom: 0px !important;
  }
  .navbar ul{
      text-align: center;
      list-style: none;
      margin-right: 150px;
  }
  .navbar ul li{
      float: left;
      width: 160px;
      border-radius: 5px;
      margin-left: 125px;
      padding: 10px;
      padding-top: 8px;
      
  }
  .navbar a{
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Slabo 27px', serif;
      padding-bottom: 25px;
  }
  .navbar li:last-child{
      margin-right: auto;
  }
  .navbar ul li:hover, .navbar ul li.current {
    background: #604529;
    border-radius: 3px;
    color: rgb(255, 255, 255);
  }

  .navbar ul li:hover a {
    color: rgb(255, 255, 255);
  }
  .navbar .fa {
    margin-right: 3px;
    font-size: 20px;
    color: white;
  }
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  

  .center {
    margin: auto;
    margin-top: 100px;
  }
  
  #header {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
  }
  
  h2 {
    font-family: 'Righteous', sans-serif;
  }
  
  .book-list {
    margin-top: 50px;
    visibility: hidden;
  }
  .card{
      font-size: medium;
      height: 283px;
  }
  #input #search-box{
      height: 43px;
      font-size: 15px;
      background: #e8e5e3;
      
  }
  #input #search{
      font-size: 15px;
      background: #461809;
      width: 68px

  }
  .container{
    margin-top: 64px;
}
.userprofile {
  width: 100%;
  float: left;
  clear: both;
  margin: 10px auto
}
.userprofile .userpic {
  clear: both;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative; 
}
.userprofile .userpic .userpicimg {
  height: 234px;
  width: 100%;
}
.username {
  font-weight: 400;
  font-size: 10px;

  color: #000000;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.username+p {
  color: #607d8b;
  font-size: 13px;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.settingbtn {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.userprofile.small {
  width: auto;
  clear: both;
  margin: 0px auto;
}
.btn-link{
margin-left: 15px;
}
.userprofile.small .userpic {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  float: left;
}
.userprofile.small .textcontainer {
  float: left;
  max-width: 100px;
  padding: 0
}
.userprofile.small .userpic .userpicimg {
  min-height: 100%;
  width: 100%;
  border-radius: 100%;
}
.userprofile.small .username {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin: 0px;
  float: left;
  width: 100%;
}
.userprofile.small .username+p {
  color: #607d8b;
  font-size: 13px;
  float: left;
  width: 100%;
  margin: 0;
}

p{
font-size: larger;
text-decoration: none;
color: #6b6060;
}
p:hover{
text-decoration:none !important;
}
a:hover{
text-decoration: none  !important;
}
.page-header.small {
  position: relative;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
}

.favorite i {
  color: #eb3147;
}

.btn i {
  font-size: 17px;
}

.panel {
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
}

.panel-footer {
  padding: 5px 9px !important;
  background-color: #ffffff;
  border-top: 1px solid #eef2f4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #607d8b;
}

.panel-blue {
  color: #ffffff;
  background-color: #03A9F4;
}

/*.panel-red.userlist .username, .panel-green.userlist .username, .panel-yellow.userlist .username, .panel-blue.userlist .username {
  color: #ffffff;
}*/

/*.panel-red.userlist p, .panel-green.userlist p, .panel-yellow.userlist p, .panel-blue.userlist p {
  color: rgba(255, 255, 255, 0.8);
}*/

.panel-red.userlist p a, .panel-green.userlist p a, .panel-yellow.userlist p a, .panel-blue.userlist p a {
  color: rgba(255, 255, 255, 0.8);
}

.progress-bar-success, .status.active, .panel-green, .panel-green > .panel-heading, .btn-success, .fc-event, .badge.green, .event_green {
  color: white;
  background-color: #8BC34A;
}

.progress-bar-warning, .panel-yellow, .status.pending, .panel-yellow > .panel-heading, .btn-warning, .fc-unthemed .fc-today, .badge.yellow, .event_yellow {
  color: white;
  background-color: #FFC107;
}

.progress-bar-danger, .panel-red, .status.inactive, .panel-red > .panel-heading, .btn-danger, .badge.red, .event_red {
  color: white;
  background-color: #F44336;
}
.panel-body{
padding: 4px !important;
height: 450px;
}
  