@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#fcf7f6 !important;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  }
  .name {
    margin-left: calc(50% - 110px);
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .logo {
    margin-left: 40%;
    height: 100px;
  }
  .navbar{
      background:#461809;
      /*margin: 10px 0px;
      padding: 10px;*/
      height: 55px;
      width: 100%;
      align-items: justify;
      clear: left;
      position: fixed;
      margin-bottom: 0px !important;
  }
  .navbar ul{
      text-align: center;
      list-style: none;
      margin-right: 150px;
  }
  .navbar ul li{
      /*padding-top: 9px;*/
      float: left;
      width: 170px;
      border-radius: 5px;
      margin: 5px;
      margin-left: 125px;
      padding: 10px;
      
  }
  .navbar a{
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Slabo 27px', serif;
      padding-bottom: 25px;
  }
  .navbar li:last-child{
      margin-right: auto;
  }
  .navbar ul li:hover, .navbar ul li.current {
    background: #604529;
    border-radius: 3px;
    color: rgb(255, 255, 255);
  }

  .navbar ul li:hover a {
    color: rgb(255, 255, 255);
  }
  .navbar .fa {
    margin-right: 3px;
    font-size: 20px;
    color: white;
  }
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.btn{
    margin: 2px;
}
#wishlist{
    display: block;
    margin-left: 460px;
    width:705px;
}
.side{
    flex:30%;
}
.main{
    flex: 70%;
    float: right;
}
.librarycard p{
   margin-left:116px;
   color: rgb(160, 15, 15);
   font-size: large;
}
.librarycard button{
    margin-left: 120px;
    background: #7b321b;
}
