@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;    
}

.logo{
    height: 70px; 
    width: 70px; 
    position: absolute;
}

.dropdown{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: right;
    display:inline-block;
    position:relative;
}

button {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
    margin-bottom: 0px;
}

.dropdown button{
    font-weight: bold;
    color:black;
    transition:all .5s ease;
    cursor:pointer;
    background-color: transparent;
}

.dropdown button a{
    color: rgb(255, 255, 255)
}
  
.dropdown div{
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s ease;
    background-color: white;
} */
  
.dropdown:hover div{
    visibility:visible;
    opacity:1;
}
  
/* .dropdown div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
} */
  
/* .dropdown div a:hover{
    background-color:rgb(255, 203, 105);
    color:#fff;
} */

.nav-main:hover{
    background-color: rgba(255, 122, 13, 0.616);
    font-size: 16.5px;
    transform: scale(1.1);
}


.container1{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-5%,-40%);
}

.container1 span{
    color: white;
    /* text-transform: uppercase; */
    display: block;
}

.text1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 0px;
    /* background: black; */
    position: relative;
    animation: text 3s 1;
    letter-spacing: 6px;
}

.text2{
    font-size: 35px;
    font-family: 'Comfortaa', cursive;
}

.search_bar{
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 30px;
    float: left;
    display:inline-block;
    position:relative;
}


.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -360%);
    /* background: rgba(0, 0, 0,0.6); */
    max-width: 400px;
    width: 60%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    /* font-size: 15px; */
    font-family: 'Comfortaa', cursive;
}

.searchbtn {
    background: #533a03;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
}

.searchbtn:hover{
    background-color: rgba(255, 122, 13, 0.616);
}


@keyframes text{
    0%{
        color: cornsilk;
        margin-bottom: -20px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -20px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}

#box1 {
    padding: 30px;
    height: 5%;
    margin: 0;
    background-image: linear-gradient(135deg, #422207 0%, #795404 100%);
    font-size: 35px;

}

.container2{
    margin-left: 80px;
    transition: opacity 1s ease-in;
    text-align: center;
    position: absolute;
    top: 135%;
    right: 55%;
    /* transform: translate(20%,-40%); */
    background: rgba(187, 110, 38, 0.6);
    padding: 30px;

    border: .8em solid rgb(255, 255, 255);
    /* border-bottom: 4em solid #fff; */
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    /* margin: 2em auto; */
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg); 
    transition: transform 7s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    /* max-width: 600px; */
    /* width: 90%; */
    will-change: transform, opacity;
}

.container2 span{
    color: black;
    font-size: 30px;
    font-weight: 600;
    /* font-family: 'Comfortaa', cursive; */
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-3deg);
}

.container3{
    /* margin-left: 80px; */
    /* transition: opacity 1s ease-in; */
    text-align: left;
    position: absolute;
    top: 135%;
    left: 55%;
}

.container3 span{
    color: black;
    font-size: 25px;
    font-weight: 550;
    /* font-family: 'Comfortaa', cursive; */
}

.typewriter{
    color: rgb(77, 52, 8);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .08em solid; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
      
  }
  
  /* The typing effect */
@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret{
    from, to { border-color: transparent }
    50% { border-color: rgb(112, 77, 11); }
}


.container4{
    margin-left: 60px;
    margin-top: 40px;
    transition: opacity 1s ease-in;
    text-align: left;
    position: absolute;
    top: 250%;
    right: 30%;
    /* transform: translate(20%,-40%); */
    /* background: rgba(187, 110, 38, 0.6); */
    /* padding: 30px; */
}

.list1{
    float: left;
    margin-right: 80px;
}

.list2{
    float: right;
}

.list button{
    border-color: transparent;
    font-size: 18px;
    padding: 20px 60px;
    width: 100%;
    table-layout: fixed;
    transition:all .5s ease;
    border-radius: 8px;
    color: rgb(54, 37, 6);
}

.list button:hover, a.button:hover{
    background-color: rgb(95, 65, 9);
    color: rgb(255, 255, 255);
}


/*Login Signup pages*/
.nav{
    position: ab;
    background-image: linear-gradient(135deg, #572d06 0%, #9e762a 100%);
    margin-bottom: 0; 
    filter: drop-shadow(30px 10px 40px rgba(51, 51, 51, 0.5));
    padding-bottom: 20px;
    padding-top: 10px;
}

.nav ul{    
    list-style-type:none;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.col{
    font-size: 45px;
    font-weight: 700;
    position: absolute;
    top: 380%;
    margin-left: 40px;
    /* right: 55%; */
}

.container5{
    /* background-color: rgb(214, 155, 45); */
    background-image: linear-gradient(135deg, #572d06 0%, #c9932f 100%);
    /* opacity: .4; */
    padding: 30px;
    top: 400%;
    right: 55%;
    position:absolute;
    margin-left: 40px;
    /* transform: translate(-5%,-40%); */
}

.book-pic1{
    float: left;
    padding: 15px;
    max-width: 26%;
}

.book-pic1:hover{
    /* opacity: .9; */
    transform: scale(1.1);
}

.collection-title{
    margin-left: 110px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.container6{
    /* background-color: rgb(214, 155, 45);*/
    background-image: linear-gradient(135deg,  #c9932f 0%, #572d06 100%);
    /* opacity: .4; */
    padding: 30px;
    top: 400%;
    left: 55%;
    position:absolute;
    margin-right: 40px;
    color: white;
    /* transform: translate(-5%,-40%); */
}

.book-pic2{
    float: right;
    padding: 15px;
    max-width: 26%;
}

.book-pic2:hover{
    /* opacity: .9; */
    transform: scale(1.1);
}


/*LOGIN FORM*/

#login {
    margin:20px 20px;
    text-align:center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.log{
    float: right;
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.log:hover{
    transform: scale(1.4);
}

#login-form{
    margin-left: 60px;
    margin-top: 30px;
}

.form {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin: auto;
    border-radius: 1em;
    background-image:url(../images/beige.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    width: 1000px;
    filter: drop-shadow(30px 30px 40px rgba(51, 51, 51, 0.401));
    height:500px;
    overflow-y: scroll ;
    background-size:cover;
    
}
.form label{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.775);
    padding:2px 10px;
    border-radius: .2em;
    filter: drop-shadow(10px 10px 5px rgba(51, 51, 51, 0.381));
    
}

.form input {
    margin-left: 30px;
    width: 360px;
    margin: 0 0 15px;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: black solid 2px;
    color: rgb(7, 7, 7);
    font-size: 20px;
    font-weight: 550;
}

.form input::placeholder {
    color: rgb(0, 0, 0);
}

.form input:hover{
    border-color: white;
}

.form button{
    font-weight: 1100;
    color:rgb(255, 255, 255);
    transition:all .5s ease;
    cursor:pointer;
    background-color: rgb(112, 77, 11);
}

.form button:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
}


/*FICTION BOOKS*/

.book_heading{
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 40px;
    text-align: center;
}


.fiction_books{
    /* margin-top: 60px;
    margin-left: 60px; */
    background-image: url(../images/beige.jpg);
    padding: 55px;
}

.description{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 0;
    /* float: right; */
}

.last{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 30px;
}

