body
{
   margin-right: 0px;
   overflow-x: hidden; 
   font-family: 'Rubik';
   scroll-behavior: smooth;
}

.banner
{


   background-color: #FFE5B4;
   /* padding-top: 10px; */
   padding-bottom: 2%;
}

.banner-txt
{
    
    color:#383838;

}


/* font size for h1 in banner */
.banner-txt h1
{
    font-size: 8vw;
    /* padding-top: 9vw; */
}





/* vertically center */
.center
 {
    display: inline-block;
     justify-content: center; 
    align-items: center;
   
  }

  .banner-img
  {
      width: 100%;
  }


.navbar-brand
{
    font-size: 20px !important;
}
.nav-link
{
    font-size: 18px !important;
}
.navbar-custom
{
  background-color: #FFE5B4;
}
/* WHAT IS LIBRARIAL */
.about
{
    padding: 10px;
    text-align: center;
}

.section-2 , .section-3 , .section-4 , .section-5
{
    background-color:antiquewhite;
    padding: 5%;
}

.features p
{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
}

/* STATS */
.counter-box {
    display: block;
    background: #FFE5B4;
    padding: 40px 20px 37px;
    text-align: center;
    border-radius: 5px;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #383838;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #383838
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #383838;
    line-height: 28px
}
.stat
{
    padding-bottom: 2%;
}


.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff


}




/* SCROLL */
.arrow {
    text-align: center;
    margin: 0px 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/*--------------------------- EXPLORE -----------------------------------------------------*/


/* SEARCH BOX */
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.card
{
    background-color: transparent !important;
}

/* BOOK SEARCH */
.row-ex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px;
    justify-content: center;

  }
  
  /* Create four equal columns that sits next to each other */
  .book-col {
    /* flex: 25%; */
    /* max-width: 25%; */
    padding: 0 45px;
    
  }
  
  .book-col img {
      width: 55%;
    margin-top: 45px;
    vertical-align: middle;
  }
  

  /* BACK TO TOP */
  .back-to-top {
    border: none  !important;
    background-color: #383838 !important;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* display:none; */
}




/* card */
.card-b
{
  height: 100%;
  width: 60%;
  margin:0 auto;
}
@media (max-width: 575.98px) {.card-b {width:100%;}  }

.card-adj
{
  padding: 5%;
  padding-bottom: 8%;
}
.card-text
{
  font-size: 18px;
}


/* gnere */
.gen-round
{
  width: 50%;
  background-color: white;
  padding: 10%;
}
.gen-round p
{
  font-size: 20px;
}
.gen-col
{
  text-align: center;

}
caption
{
  font-weight: bolder;
}


/* *****************************************COMMUNITY******************************************* */

.write {
  display: block;
  position: fixed;
  bottom: 75px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#383838;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.write:hover {
  background-color: #555;
}

/* blog */
.b-post
{
  padding-bottom: 4%;
}
.card-blog
{

  height: 100%;
  width: 50%  !important;
  margin:0 auto;
}
@media (max-width: 575.98px) {.card-b {width:100%;} }
@media (max-width: 575.98px) {.card-blog {width:100% !important;} }
@media (max-width: 575.98px) {.b-post {padding-bottom: 10%;} }


/* Sign UP*/
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  
}

.card-signin .card-img-left {
  width: 180%;
  /* Link to your background image using in the property below! */
  background: scroll center url('images/Bibliophile-rafiki.svg');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
  background-color: #fff;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white  !important;
  background-color: #ea4335 !important;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998 !important;
}


.screen
{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-flow: column;
   height: 900px
}
.signup
{
  
  text-align: center;
  display: block;
  border: .5px solid black;
  border-radius: 9px;
   background-color: white; 
  
  padding: 10%;
}

