body
{
   margin-right: 0px;
   overflow: hidden;
   font-family: 'Rubik';
    
}

.banner
{


   background-color: #FFE5B4;
   padding-top: 5vw;
   padding-bottom: 9vw;
}

.banner-txt
{
    color:#383838;

}


/* font size for h1 in banner */
.banner-txt h1
{
    font-size: 5vw;
}

/* banner height  */



/* vertically center */
.center
 {
    display: inline-block;
     justify-content: center; 
    align-items: center;
   
  }

  .banner-img
  {
      width: 100%;
  }