body
{
   margin-right: 0px;
   overflow-x: hidden; 
   font-family: 'Rubik';
   scroll-behavior: smooth;
}

.banner
{


   background-color: #FFE5B4;
   /* padding-top: 10px; */
   padding-bottom: 70px;
}

.banner-txt
{
    
    color:#383838;

}


/* font size for h1 in banner */
.banner-txt h1
{
    font-size: 8vw;
    /* padding-top: 9vw; */
}





/* vertically center */
.center
 {
    display: inline-block;
     justify-content: center; 
    align-items: center;
   
  }

  .banner-img
  {
      width: 100%;
  }


.navbar-brand
{
    font-size: 20px !important;
}
.nav-link
{
    font-size: 18px !important;
}

/* WHAT IS LIBRARIAL */
.about
{
    padding: 40px;
    text-align: center;
}

.section-2 , .section-3
{
    background-color:antiquewhite;
}

.features p
{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
}

/* TESTIMONIAL */
.testimonials-clean {
    color:#313437;
    background-color:antiquewhite;
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
      font-size: 35px;
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:30px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:18px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  
  



/*--------------------------- EXPLORE -----------------------------------------------------*/


/* SEARCH BOX */
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.card
{
    background-color: transparent !important;
}

/* BOOK SEARCH */
.row-ex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px;
    justify-content: center;

  }
  
  /* Create four equal columns that sits next to each other */
  .book-col {
    /* flex: 25%; */
    /* max-width: 25%; */
    padding: 0 45px;
    
  }
  
  .book-col img {
      width: 55%;
    margin-top: 45px;
    vertical-align: middle;
  }
  

  /* BACK TO TOP */
  .back-to-top {
    border: none  !important;
    background-color: #383838 !important;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* display:none; */
}

